<template>
  <div class="About">
    <v-card
      class="mx-auto overflow-hidden"
      height="100vh"
    >
      <Header/>
      <v-container>
        Меня зовут Никита Алексеев. Люблю Frontend, красивые интерфейсы и чистый код.<br>
        Мечтаю стать Fullstack-разработчиком.<br>
        Также увлекаюсь автомобилями и спортом.<br>
        <v-btn class="mt-5" :to="{ name: 'Home', params: { header: 'Home' } }">
          <!-- @click="$router.go(-1)" -->
          Вернутся назад
        </v-btn>
      </v-container>
    </v-card>
  </div>
</template>

<script>

  import Header from './Header.vue';

  export default {
    name: 'About',
    components: { Header } 
  }
</script>



<style scoped>
  a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87) !important;
    font-size: 0.8125rem;
  }

  .email_avatar {
    color: rgba(0, 0, 0, 0.87) !important;
  }
</style>