<template>
    <div>
        <v-app-bar
            color="deep-purple"
            dark
        >
            <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>

            <v-toolbar-title>{{ head }} </v-toolbar-title>
        </v-app-bar>

        <v-navigation-drawer
            v-model="drawer"
            absolute
            temporary
        >
            <v-list
            nav
            dense
            >
            
                <v-list-item>
                    <v-avatar
                    color="rgba(0, 0, 0, 0.87)"
                    size="25"
                    justify-content="center"
                >
                    <v-icon dark>mdi-account-circle</v-icon>
                </v-avatar>
                <span class="ml-5 email_avatar"
                        color="red !important"
                >
                Alexeev_N2010@mail.ru
                </span>
                </v-list-item>
            <v-list-item-group
                active-class="deep-purple--text text--accent-4"
                class="mt-5"
            >
                <v-list-item :to="{ name: 'Home', params: { header: 'Home'} }">
                <v-list-item-icon>
                    <v-icon>mdi-home</v-icon>
                </v-list-item-icon>
                <v-list-item-title>
                    Галерея
                </v-list-item-title>
                </v-list-item>

                <v-list-item :to="{ name: 'About', params: { header: 'About'} }">
                <v-list-item-icon>
                    <v-icon>mdi-account</v-icon>
                </v-list-item-icon>
                <v-list-item-title>
                    Обо мне
                </v-list-item-title>
                </v-list-item>
            </v-list-item-group>
            </v-list>
        </v-navigation-drawer>
      </div>
</template>

<script>
export default {
    name: 'Header',
    data: () => ({
      drawer: false,
      head: 'Заголовок'
    }),
    mounted() {
        if (this.$route.params.header) {
            this.head = this.$route.params.header
            localStorage.setItem("header", this.$route.params.header)
        } else {
            this.head = localStorage.getItem("header");
        }
    }
}
</script>