<template>
  <div class="Home">
    <vue-progress-bar></vue-progress-bar>
    <v-card
      class="mx-auto overflow-hidden"
      height="100%"
    >
       <Header/>
       <Pictures/>
    </v-card> 
  </div>
</template>

<script>

  import Pictures from './Pictures.vue';
  import Header from './Header.vue';
  import VueProgressBar from 'vue-progressbar'
  import Vue from 'vue'

  const options = {
    color: '#bffaf3',
    failedColor: '#874b4b',
    thickness: '5px',
    transition: {
      speed: '0.2s',
      opacity: '0.6s',
      termination: 300
    },
    autoRevert: true,
    location: 'top',
    inverse: false
  }
  
  Vue.use(VueProgressBar, options)

  export default {
    components: { Pictures, Header },
    name: 'Home',
    mounted: function() {
      this.Timeout();
    },
    methods: {
      Timeout: function () {
          setTimeout(this.getPictures, 1000)
      },
      getPictures: function(){
        this.$store.dispatch('getPictures');
      }
    }
  }
</script>

<style scoped>
  a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87) !important;
    font-size: 0.8125rem;
  }

  .email_avatar {
    color: rgba(0, 0, 0, 0.87) !important;
  }
</style>