<template>
  <div class="Details">
    <Header/>
    <v-container>
        Данные о картинке {{ $route.params.id }}: <br>
        {{ title }} <br>
        <v-btn class="mt-5" :to="{ name: 'Home', params: { header: 'Home' } }">
          Вернутся назад
        </v-btn>
    </v-container>
  </div>
</template>

<script>

import Header from './Header.vue';

  export default {
    name: 'PicDetails',
    components: { Header },
    data: () => ({
      title: 'Описание картинки'
    }), 
    mounted() {
        if (this.$route.params.title) {
            this.title = this.$route.params.title
            localStorage.setItem("title", this.$route.params.title)
        } else {
            this.title = localStorage.getItem("title");
        }
    }
  }
   
</script>



<style scoped>
  a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87) !important;
    font-size: 0.8125rem;
  }

  .email_avatar {
    color: rgba(0, 0, 0, 0.87) !important;
  }
</style>