<template>
    <div>
            <v-card
                flat
                tile
            >
                <v-container
                class="grey lighten-4"
                fluid
                v-for="(picture, index) in pictures" 
                :key="picture.id"
                >
                <v-subheader> Категория {{ index+1 }}</v-subheader>

                <v-row>
                    <v-spacer></v-spacer>
                    <v-col
                    v-for="(elem) in picture" 
                    :key="elem.id"
                    cols="12"
                    sm="6"
                    md="3"
                    >
                    <v-card>
                        <v-img
                            :src="`${elem.url}`"
                            height="300px"
                            @mouseenter = "showButton(`${elem.id}`)"
                            @mouseleave = "hideButton(`${elem.id}`)"
                        >
                        <v-btn dark 
                            fixed
                            class="more_button" 
                            v-show="hover"
                            :id="`${elem.id}`"
                            :to="{ name: 'Details', params: { title: `${elem.title}`, id: `${elem.id}`, header: 'Подробности' } }"
                        >
                        Подробнее
                        </v-btn>
                        <span
                            class="headline white--text pl-4 pt-4 d-inline-block"
                        ></span>
                        </v-img>
                    </v-card>
                    </v-col>
                </v-row>
                </v-container>
            </v-card>
    </div>
    
</template>

<script>
    import * as _ from 'lodash';
  
  export default {
    name: 'Pictures', 
    data: () => ({
        hover: false
    }),
    computed: {
      pictures () {
        let arr = this.$store.state.data
        return _.chunk(arr, 4)
      }
    },
    methods: {
        showButton: function (number) {
            let elem = document.getElementById(number)
            elem.style.display="block";
        },
        hideButton: function(number){
            let elem = document.getElementById(number)
            elem.style.display="none";
        }
    }
  }
</script>

<style scoped>
    /* .more_button{
        width: 150px;
        text-align: center;
    } */
</style>